@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Haber>
<div class="row tn-slider">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="tn-img">
                <img src="~/img/HaberFoto/@item.FotoURL" />
                <div class="tn-title">
                    <a href="@Url.Action("HaberDetay", "Home", new { id = item.HaberID})">@item.Baslik</a>
                </div>
            </div>
        </div>
    }
</div>