
@{
    ViewBag.Title = "Bizkimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div class="container mt-3">
    <div class="card rounded">
        <h4 class="card-header">Biz kimiz</h4>
        <div class="card-body">
            <div class="grid-container">

                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Niyazi Keklik</h6>
                                <p>Düzce Üniversitesi</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Bilgilerim</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">niyazikeklik@outlook.com</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Okul Numarası</p>
                                        <h6 class="text-muted f-w-400">182119010</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Öğretim Bilgileri</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="text-muted f-w-400">Teknoloji Fakultesi</h6>
                                        <h6 class="text-muted f-w-400">Bilgisayar Mühendisliği</h6>
                                        <h6 class="text-muted f-w-400">Normal Öğretim</h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Barış Karakulak</h6>
                                <p>Düzce Üniversitesi</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Bilgilerim</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">baris.1907.krklk@gmail.com</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Okul Numarası</p>
                                        <h6 class="text-muted f-w-400">192113059</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Öğretim Bilgileri</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="text-muted f-w-400">Teknoloji Fakultesi</h6>
                                        <h6 class="text-muted f-w-400">Bilgisayar Mühendisliği</h6>
                                        <h6 class="text-muted f-w-400">Normal Öğretim</h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Hüseyin Arkın</h6>
                                <p>Düzce Üniversitesi</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Bilgilerim</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">99.arkn@gmail.com</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Okul Numarası</p>
                                        <h6 class="text-muted f-w-400">182119009</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Öğretim Bilgileri</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="text-muted f-w-400">Teknoloji Fakultesi</h6>
                                        <h6 class="text-muted f-w-400">Bilgisayar Mühendisliği</h6>
                                        <h6 class="text-muted f-w-400">Normal Öğretim</h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Gökhan Yıldırım</h6>
                                <p>Düzce Üniversitesi</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Bilgilerim</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">eiengokhan34@outlook.com</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Okul Numarası</p>
                                        <h6 class="text-muted f-w-400">182119017</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Öğretim Bilgileri</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="text-muted f-w-400">Teknoloji Fakultesi</h6>
                                        <h6 class="text-muted f-w-400">Bilgisayar Mühendisliği</h6>
                                        <h6 class="text-muted f-w-400">Normal Öğretim</h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("bizkimiza").style.cssText = "text-decoration: none;background-color: cornflowerblue;font-size: large;color: white;";
</script>
